

<div class="admin-container">
  <h2>Patient Dashboard</h2>
  <div class="buttons-container">
    <!-- <button mat-raised-button color="primary" (click)="registerNurse()">View and Update my profile</button>
    <button mat-raised-button color="primary" (click)="viewAllNurses()" >View/Edit All Nurses</button>
    <button mat-raised-button color="primary" (click)="viewAllPatients()">View All Patients</button>
    <button mat-raised-button color="primary" (click)="viewAllVaccines()">View/edit All Vaccine</button> -->
    <button mat-raised-button color="primary" (click)="viewMySchedule()">View Vaccination Schedule</button>
    <button mat-raised-button color="primary" (click)="viewMyDetails()">View/edit my Profile</button>
    <button mat-raised-button color="primary" (click)="scheduleVaccination()">Schedule vaccination</button>
  '</div>
</div>
