<!-- admin.component.html -->

<div class="admin-container">
  <h2>Admin Dashboard</h2>
  <div class="buttons-container">
    <button mat-raised-button color="primary" (click)="registerNurse()">Register a Nurse</button>
    <button mat-raised-button color="primary" (click)="viewAllNurses()" >View/Edit All Nurses</button>
    <button mat-raised-button color="primary" (click)="viewAllPatients()">View All Patients</button>
    <button mat-raised-button color="primary" (click)="viewAllVaccines()">View/edit All Vaccine</button>
    <button mat-raised-button color="primary" (click)="addVaccine()">Add Vaccine</button>
  '</div>
</div>
