<!-- add-nurse-dialog.component.html -->
<h2 mat-dialog-title>Add Nurse</h2>
<form [formGroup]="addNurseForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middleName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <input matInput formControlName="gender" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="addNurseForm.get('email').hasError('email')">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role ID</mat-label>
      <input matInput formControlName="roleId" required>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add Nurse</button>
  </mat-dialog-actions>
</form>
