<!-- create-patient.component.html -->
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>SSN</mat-label>
    <input matInput formControlName="ssn">
    <!-- <mat-error *ngIf="patientForm.get('ssn').hasError('required')">SSN is required</mat-error> -->
    <!-- <mat-error *ngIf="patientForm.get('ssn').hasError('pattern')">Invalid SSN</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
    <!-- <mat-error *ngIf="patientForm.get('firstName').hasError('required')">First Name is required</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Middle Name</mat-label>
    <input matInput formControlName="middleName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
    <!-- <mat-error *ngIf="patientForm.get('lastName').hasError('required')">Last Name is required</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <input matInput formControlName="age">
    <!-- <mat-error *ngIf="patientForm.get('age').hasError('required')">Age is required</mat-error> -->
    <!-- <mat-error *ngIf="patientForm.get('age').hasError('pattern')">Invalid Age</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gender</mat-label>
    <input matInput formControlName="gender">
    <!-- <mat-error *ngIf="patientForm.get('gender').hasError('required')">Gender is required</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Race</mat-label>
    <input matInput formControlName="race">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Occupation Class</mat-label>
    <input matInput formControlName="occupationClass">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Medical History Description</mat-label>
    <input matInput formControlName="medicalHistoryDescription">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber">
    <!-- <mat-error *ngIf="patientForm.get('phoneNumber').hasError('pattern')">Invalid Phone Number</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Create Patient</button>
</form>
